/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.debug {
  background-color: rgb(224, 2, 2);
  border:1px solid black;
  min-height: 100px;
}
/* container */
.container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  font-size: 18px;
}

/* header */
header {
  color:#E53170;
  text-align: center;
  font-weight: bold;
  margin: 0px auto 30px;
}

/* main */
  /* main generali */
main .texto {
  text-align: center;
  font-size: 1rem; 
  margin-bottom: 20px;
}
.row .col,
.card img, 
.card.info {
  float: left;
}
.info,
.info .role{
  display: inline-block;
}
.card p, 
.card .role {
  margin-bottom: 7px;
}
.info .role,
.info .correo {
  font-size: .9rem;
}

  /* main specifici */
.row .col {
  width: calc(100% /3);
}
.col {
  padding: 15px 10px;
  min-width: 330px;
}
.card {
  background-color: rgb(15,14,23);
  color: white;
  box-shadow: 0px 0px 15px rgb(71, 66, 66);
}
.info {
  padding: 10px 15px;
}
.card img {
  width: 100px;
}
.info p {
  font-size: 1.1rem;
}
.info .correo {
  display: block;
  color: #75BCB6;
}