/* general */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.debug{
background-color: rgb(224, 2, 2);
border:1px solid black;
min-height: 100px;
}
/* container */
.container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  font-size: 18px;
}

/* header */
header {
  color:#E53170;
  text-align: center;
  font-weight: bold;
  padding: 30px auto;
}
/* main */
main .texto {
  text-align: center;
  padding-top: 30px;
  font-size: 1rem; 
}
.row{
  margin-top: 20px;
}

.col{
  padding: 15px 10px;
  min-width: 350px;
}
.row .col{
  float: left;
  width: calc(100% /3);
}
.card{
  background-color: rgb(15,14,23);
  color: white;
  box-shadow: 0px 0px 15px rgb(71, 66, 66);
}
.info {
  padding: 10px 15px;
  display: inline-block;

}
.card p, .role{
  margin-bottom: 7px;
}
.card img, 
.card.info{
  float: left;
}
.card img{
  width: 100px;
}
.info p{
  font-size: 1.1rem;
}
.info .role{
  display: inline-block;
  font-size: 1rem;
}
.info .correo{
  display: block;
  font-size: 1rem;
  color: #75BCB6;
}